.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.footer-fixed footer {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.footer-fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
}
body {display: flex;min-height: 100vh;flex-direction: column;}
main {flex: 1 0 auto;}

.img-holder{
  border-style: solid;
  display:inline-block;
  width: 33%;
}
.notify{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  color:red
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
}
.top2 {
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 999;
  width: 100%;
  height: 23px;
}
.centerDiv
    {
      position: absolute;
      top: 50%;
      left: 20%;
      margin-top: -50px;
      margin-left: 0px;
      width: 500px;
      height: 50px;
    }
    .div1
    {
      width: 33%;
      height:200px;
      float:left;
    }
    .div2
    {
      width: 34%;
      height:50px;
      float:right;
    }
    .div3
    {
      width: 33%;
      height:50px;
      float:left;
    }
.topnav {
  background-color:black;
  overflow: hidden;
  height: 35px
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

